.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 79.2%;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: end;

    button {
        background-color: #fff !important;
        border: none !important;
        &:hover{
            border: none !important;
            outline: none !important;
        }
        &:focus{
            border: none !important;
            outline: none !important;
        }
    }
    .text-user{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }   
}