.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 200px;

    .toggle-btn{
        cursor: pointer;
    }
    .trasform-btn{
        transform: rotate(180deg);
    }

    button {
        background-color: #fff !important;
        border: none !important;
        &:hover{
            border: none !important;
            outline: none !important;
        }
        &:focus{
            border: none !important;
            outline: none !important;
        }
    }
    .text-user{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }   
}